/** ---- START General CSS ---- **/

/* Create Caribbean font */
@font-face {
    font-family: Caribbean;
    src: url('/assets/fonts/Caribbean.ttf');
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #babac093;
    border-radius: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Body */
body {
    margin: 0;
    overflow: hidden;
    background-color: #000 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Canvas */
canvas {
    width: 100%;
    height: 100%
}

/** ---- END General CSS ---- **/



/** ---- START Pre-Gameplay CSS ---- **/

/* Youtube Popup */
.popup-youtube {
    z-index: 10000 !important;
    position: relative;
}

/* Play button */
#play-button {
    font-weight: 900;
    padding: 1.0rem 1rem;
}

/* Media settings for pre-gameplay modals */
@media (max-width: 900px) {
    #modal-dialog {
        width: 100%;
    }
}

@media (min-width: 900px) {
    #modal-dialog {
        width: 80%;
    }
}

@media (max-width: 750px) {
    .changelog-box {
        display: none;
    }

    .wall-of-fame-div {
        display: none;
    }

    .main-menu-div {
        width: 40%;
        float: none;
    }
}

@media (min-width: 750px) {
    .main-menu-div {
        width: 33%;
        float: left;
    }
}

/* -- START Changelog -- */
.changelog-box {
    width: 33%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.changelog-title {
    font-weight: bold;
    color: #2b2d2f;
    opacity: .8;
    margin-bottom: 0;
}

.changelog-div {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 750px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

.changelog-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.changelog-article {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(55, 64, 70, 0.2);
    border-radius: 10px 10px 10px 10px;
}

.patch-title {
    font-weight: bold;
    color: #0074d9;
    padding-top: 15px;
}

.patch-content {
    padding-bottom: 5px;
}

.patch-content-list {
    padding-inline-end: 30px;
    display: block;
    text-align: left;
    font-size: .95rem;
}

/* -- END Changelog -- */

/* Main Menu (Center Modal) */
.main-menu-div {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* -- START Wall of fame -- */
.wall-of-fame-div {
    width: 33%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

#wall-of-fame-table-div {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 750px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

#wall-of-fame-table-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#wall-of-fame-table {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

#wall-of-fame-table th {
    padding: 8px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

#wall-of-fame-table td {
    padding: 5px;
    text-align: center;
}

#wall-of-fame-table .rank {
    font-weight: 900;
}

#wall-of-fame-table .top-1 {
    font-weight: 900;
    color: #FF5722;
}

#wall-of-fame-table .top-2-3 {
    font-weight: 600;
    color: #FF5722;
}

#wall-of-fame-table,
th,
td {

    border-collapse: collapse;
    opacity: .8;
}

/* -- END Wall of fame -- */

/** ---- END Pre-Gameplay CSS ---- **/



/** ---- START Gameplay CSS ---- **/

/* Loading Wheel Div */
#loading-wheel {
    position: absolute;
    z-index: 1060;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

/* Loading Wheel Image*/
#wheel {
    animation: 3s linear 0s normal none infinite running wheel;
    -webkit-animation: 3s linear 0s normal none infinite running wheel;
    width: 12.5%;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Preroll Ad */
.ad-player {
    position: absolute;
    top: 25%;
    right: 20%;
    transform: translate(50%, -43%);
}

/* Game UI (Container for all game elements) */
#game-ui {
    font-weight: bold;
    color: #FFF;
    display: none;
}

/* Gold */
#earn-gold {
    bottom: 340px;
    right: 15px;
    position: absolute;
    margin-top: 225px;
}

#gold-div,
#delta-gold {
    top: 8px;
    left: 62.5%;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

/* -- START Krew HUD -- */

/* Ping and FPS */
#stats-wrapper {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 5px;
    font-size: 13px;
    z-index: 1051;
    display: inline-block;
    text-align: center;
}

#fps-wrapper,
#ping-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    margin-bottom: 2.5px;
}

/* Ship Status Menu */
#ship-status-modal {
    display: none;
    width: 40%;
    margin-right: 20px;
    top: 10%;
    left: 30%;
    display: none;
    position: absolute;
    z-index: 1060;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Game Settings modal */
#game-settings-modal {
    display: none;
    width: 40%;
    margin-right: 20px;
    top: 10%;
    left: 30%;
    display: none;
    position: absolute;
    z-index: 1060;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Invite Div */
#invite-div {
    padding-top: 15px;
    display: none;
    width: 60%;
}

/* Exit island button */
#exit-island-button {
    margin-right: 4%
}

/* Kick player from Krew button */
.btn-kick-player {
    cursor: pointer;
    padding: 0 0.2em !important;
    line-height: 1 !important;
    margin-left: 0.3em !important;
    margin-top: 2px !important;
}

/* Transfer ship button */
.btn-transfer-ship {
    cursor: pointer;
    padding: 0 0.2em !important;
    line-height: 1 !important;
    margin-left: 0.3em !important;
    margin-top: 2px !important;
}

/* Clan Management */
#clan-table-div {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 225px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

.clan-table {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.clan-table th {
    padding: 7px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    border-collapse: collapse;
    opacity: .8;
}

.clan-table td {
    text-align: center;
    border-collapse: collapse;
    opacity: .8;
}

.clan-button {
    margin: 3px;
    padding: 7px;
}

/* Top Menu UI*/
#top-menu-ui {
    top: -5px;
    left: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 5px;
    transform: translate(-50%);
    max-width: 350px;
    text-align: center;
    z-index: 1072;
    height: auto;
}

#top-menu-ui div {
    margin-left: 3px;
    margin-right: 3px;
}

/* Buttons */
#toggle-shop-modal-button,
#toggle-krew-list-modal-button,
#toggle-ship-status-button,
#toggle-game-settings-button,
#toggle-quest-button,
#toggle-help-button {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1.0;
    padding: .2rem .2rem;
    font-size: 1.375rem;
}

/* -- START Top UI Menus */

/* Shopping Modal */
#shopping-modal {
    display: none;
    width: 60%;
    margin-right: 20px;
    top: 10%;
    left: 20%;
    position: absolute;
    z-index: 1060;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

.trading .btn {
    margin: -6px 0 0;
    font-size: 0.7em;
    padding: 0.2em 0.7em;
    width: 100%
}

.trading label {
    font-size: 0.6em;
    position: relative;
    margin: 0 0 0;
    display: block;
    line-height: 1;
    color: #777
}

/* Krew List modal */
#krew-list-modal {
    display: none;
    width: 30%;
    margin-right: 20px;
    top: 10%;
    left: 35%;
    position: absolute;
    z-index: 1060;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Krew list container */
#krew-list {
    height: 25%;
    min-height: 200px;
    overflow: auto;
    padding: 0 5px;
}

/* Quests Modal */
#quests-modal {
    position: absolute;
    width: 40%;
    margin-right: 20px;
    display: none;
    top: 10%;
    left: 30%;
    z-index: 1060;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Help Modal */
#help-modal {
    width: 60%;
    margin-right: 20px;
    top: 10%;
    left: 20%;
    position: absolute;
    z-index: 1060;
    display: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    max-height: 70%;
    border-radius: .3em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* -- END Top UI Menus */


/* -- START Leaderboard -- */
#leaderboard {
    white-space: nowrap;
    width: 20%;
    max-width: 320px;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
}

#leaderbord-head {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: 1px solid
}

#leaderboard-data-div {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 3fr 1fr 1.2fr;
}

#player-leaderboard {
    white-space: nowrap;
    width: 50%;
    font-size: 14px;
    position: absolute;
    left: 25%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 15px;
    display: none
}

#player-leaderbord-head {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid
}

#player-leaderbord-head2 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid
}

#player-leaderbord-data {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-left {
    overflow: hidden;
    justify-self: start;
}

.grid-middle {
    overflow: hidden;
    justify-self: auto;
}

.grid-right {
    justify-self: end;
    overflow: hidden;
}

.score-list-leaderboard {
    list-style: none;
    margin: 0;
    padding: 0;
}

.score-list-leaderboard li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

/* -- END Leaderboard -- */


/* -- START Inventory / Experience UI -- */

#experience-ui {
    width: 45%;
    bottom: 5px;
    left: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 6px;
    padding-bottom: 0;
    transform: translate(-50%);
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

#inventory-container {
    display: inline-block;
    vertical-align: middle;
    width: 187px;
}

#cannon-item-div {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

#rod-item-div {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

#spyglass-item-div {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

/* -- START Experience bar -- */

/* Experience bar container */

#experience-attribute-container {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    z-index: 1;
    position: relative;
}

/* Progress (Experience) Bar */
[data-progress] {
    border: 3px solid #fff;
    color: #28a745;
    height: 30px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    margin: 0 0 5px;
    padding: 1px;
}

[data-progress]::after,
[data-progress]::before,
[data-progress]>div {
    transition: all 0.3s ease-in-out;
    content: ' ';
    position: absolute;
    height: 100%;
    z-index: 2;
    text-align: center;
    width: 100%;
}

[data-progress]::before {
    content: attr(data-info-up);
    top: -28px;
}

[data-progress]::after {
    content: attr(data-info);
    top: 0;
    width: 100%;
    left: 0;
}

[data-progress]>div {
    background: #fff;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    padding: 0px;
    left: 0;
    border: 0;
}

[class*=experience-attribute] {
    position: relative;
    display: inline-block;
    width: 60px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

[class*=experience-attribute]>small {
    display: block;
    font-size: 12px;
}

/* Level up button */
.level-up-button {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: -42px;
    color: #d9534f;
    font-size: 40px;
    cursor: pointer;
}

/* -- END Experience bar */

/* -- END Inventory / Experience UI -- */


/* Minimap */
#minimap-container {
    position: absolute;
    right: 0;
    bottom: -30px;
    background-image: url('/assets/img/misc/map.png');
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
    opacity: 0.8;
    transition: all .4s;
}

#minimap-container:hover {
    opacity: 1;
}

#minimap {
    width: 200px;
    height: 200px;
}

/* Docking modal */
#docking-modal.initial {
    background: #ffffffa6;
    color: #28a745;
    font-size: 18px;
    padding: 20px;
    border-radius: 7px;
}

/* Docking modal button */
#docking-modal-button {
    margin-right: 10px;
}

/* -- START Chat -- */

#chat-message,
#chat-message::placeholder {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 2px;
}

#chat-message:focus,
#chat-message:hover {
    background-color: white;
    color: black;
    border-color: gray;
    border-width: 2px;
}

#chat-message:focus::placeholder,
#chat-message:hover::placeholder {
    color: gray;
}

#chat-history {
    user-select: text;
    white-space: pre-line;
    word-wrap: break-word;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 130px;
    padding: 10px;
}

#chat-history:hover {
    user-select: text;
}

#chat-div {
    display: block;
    width: 20%;
    max-width: 400px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
}

#chat-div a:not(.active) {
    color: white;
}

.text-admin-color {
    color: #2a92f9 !important;
}

.text-mod-color {
    color: #9d44e5 !important;
}

.text-helper-color {
    color: #63ecfd !important;
}

.text-designer-color {
    color: #6075ff !important;
}

.text-myself-color {
    color: #2cf22f !important;
}

.text-clan-color {
    color: #ffb411 !important;
}

.text-captain-color {
    color: #ff5100 !important;
}

.text-krewmate-color {
    color: #ff7640 !important;
}

/* -- END Chat -- */

/** ---- END Gameplay CSS ---- **/





/** ------ Misc CSS ------ **/

/* Play button */
.play-btn {
    color: #fff;
    background-color: #00ad34;
    border-color: #00ad34;
}

.play-btn:disabled,
.play-btn[disabled] {
    color: #fff;
    background-color: #00ad34;
    border-color: #00ad34;
}

.play-btn:hover {
    color: #fff;
    background-color: #008a3e;
    border-color: #008a3e;
}

/* Account Settings button */
.acc-settings-btn {
    color: #fff;
    background-color: #ffb600;
    border-color: #ffb600;
}

.acc-settings-btn:disabled,
.acc-settings-btn[disabled] {
    color: #fff;
    background-color: #ffb600;
    border-color: #ffb600;
}

.acc-settings-btn:hover {
    color: #fff;
    background-color: #e5a000;
    border-color: #e5a000;
}

/* Player Customization Button */
.player-custom-btn {
    color: #fff;
    background-color: #ff9d14;
    border-color: #ff9d14;
}

.player-custom-btn:disabled,
.player-custom-btn[disabled] {
    color: #fff;
    background-color: #ff9d14;
    border-color: #ff9d14;
}

.player-custom-btn:hover {
    color: #fff;
    background-color: #e58a14;
    border-color: #e58a14;
}

/* Watch Tutorial button */
.tutorial-btn {
    color: #fff;
    background-color: #ff7039;
    border-color: #ff7039;
}

.tutorial-btn:disabled,
.tutorial-btn[disabled] {
    color: #fff;
    background-color: #ff7039;
    border-color: #ff7039;
}

.tutorial-btn:hover {
    color: #fff;
    background-color: #e56531;
    border-color: #e56531;
}

/* Table Helpers */
#scrollable-table {
    font-size: 15px;
    height: 420px;
    overflow: auto;
}

#scrollable-table th {
    border-top: none;
}

/* Container */
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Transparent White modal Background */
.white-transparent-bg {
    color: black;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 20px;
}

/* Blue modal Background */
.blue-bg {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 45, 68);
    background-image: linear-gradient(rgb(39, 48, 68), rgb(52, 39, 68));
    border-radius: 10px;
    padding: 20px;
}

/* Center an element */
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
}

/* Hide an element */
.hidden {
    display: none !important;
}

/* Leaderboard Logo */
.leaderbord-logo {
    width: 100%;
    background-image: url(/assets/img/logos/logoleaderboard.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Button */
.btn-theme {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 1;
    font-size: 1.2em;
    color: white;
}

/* Modal Title (Caribbean) */
.modal-title {
    font-family: caribbean;
}

/* Buy Ship table */
.ship-table th,
.ship-table td {
    padding: .5rem 6px .5rem 6px;
    text-align: center;
}

.ship-table tr {
    line-height: 34px;
}

/* Form Error */
.form-error {
    border-left: 6px solid rgb(255, 81, 81);
    background-color: rgb(255, 206, 206);
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Toggle Switch */
.toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
}

.toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 1.375rem;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
}

.toggle-state {
    display: none;
}

.toggle-state:checked~.active-bg {
    transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked~.toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
}

.lock-text-info {
    color: #5bc0de !important
}

.lock-text-error {
    color: #d9534f !important
}

/* Label */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* Active background */
.active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: #d9534f;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
}

/* Indicator */
.indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

/* -- START Other -- */
#center-div {
    font-size: 32px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 25px;
    z-index: 1070;
}

#quality-div {
    border-radius: 5px;
}

.float-right {
    float: right;
}

.stock {
    width: 100%;
    min-width: 600px;
}

/* -- END Other -- */


/* -- START Glowing -- */
.glowing {
    border-radius: 5px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.glow-gold-plus {
    color: #fff;
    -webkit-animation: glow-gold-plus 1s ease-in-out 3 alternate;
    -moz-animation: glow-gold-plus 1s ease-in-out 3 alternate;
    animation: glow-gold-plus 1s ease-in-out 3 alternate;
}

.glow-gold-minus {
    color: #fff;
    -webkit-animation: glow-gold-minus 1s ease-in-out 3 alternate;
    -moz-animation: glow-gold-minus 1s ease-in-out 3 alternate;
    animation: glow-gold-minus 1s ease-in-out 3 alternate;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        -webkit-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        -webkit-box-shadow: 0 0 3px #B20000;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #B20000;
        -moz-box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        -moz-box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        -moz-box-shadow: 0 0 3px #B20000;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }
}

@keyframes glowing {
    0% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }

    50% {
        background-color: #FF0000;
        box-shadow: 0 0 40px #FF0000;
    }

    100% {
        background-color: #B20000;
        box-shadow: 0 0 3px #B20000;
    }
}

@keyframes glow-gold-plus {
    from {
        text-shadow: 0 0 5px #fff,
            0 0 10px #f0ad4e,
            0 0 20px #f0ad4e,
            0 0 30px #f0ad4e,
            0 0 70px #f0ad4e,
            0 0 30px #f0ad4e,
            0 0 20px #f0ad4e,
            0 0 10px #f0ad4e,
            0 0 5px #f0ad4e;
    }

    to {
        text-shadow:
            0 0 0px #f0ad4e;

    }
}

@keyframes glow-gold-minus {
    from {
        text-shadow: 0 0 5px #fff,
            0 0 10px #f0ad4e,
            0 0 20px #d9534f,
            0 0 30px #d9534f,
            0 0 70px #d9534f,
            0 0 30px #d9534f,
            0 0 20px #d9534f,
            0 0 10px #d9534f,
            0 0 5px #d9534f;
    }

    to {
        text-shadow:
            0 0 0px #d9534f;

    }
}

/* -- END Glowing -- */

/* -- START Tooltips Styling -- */
[data-tooltip] {
    position: relative;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
    z-index: 2000;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.1s;
    transform: translate(-50%, -5px) scale(1);
}

/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
    transition-delay: 0.1s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
}

[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}

[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* Right */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + 5px);
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before {
    transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* Bottom */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}

/* -- END Tooltips Styling -- */